<!DOCTYPE html>
<!--
Spring Boot Demo with Thymeleaf and AdminLTE 3
https://github.com/giansar/spring-boot-thymeleaf-adminlte-3
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AdminLTE 3 | Dashboard</title>
    </head>
    <body>
        <footer th:fragment="footer" class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.5
            </div>
        </footer>
    </body>
</html>
