<!DOCTYPE html>
<!--
Spring Boot Demo with Thymeleaf and AdminLTE 3
https://github.com/giansar/spring-boot-thymeleaf-adminlte-3
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>AdminLTE 3 | Dashboard</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" th:href="@{~/plugins/fontawesome-free/css/all.min.css}" href=""/>
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
        <link rel="stylesheet" th:href="@{~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" href=""/>
        <link rel="stylesheet" th:href="@{~/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" href=""/>
        <link rel="stylesheet" th:href="@{~/plugins/jqvmap/jqvmap.min.css}" href=""/>
        <link rel="stylesheet" th:href="@{~/css/adminlte.min.css}" href=""/>
        <link rel="stylesheet" th:href="@{~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" href=""/>
        <link rel="stylesheet" th:href="@{~/plugins/daterangepicker/daterangepicker.css}" href=""/>
        <link rel="stylesheet" th:href="@{~/plugins/summernote/summernote-bs4.css}" href=""/>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"/>
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
