<!DOCTYPE html>
<!--
Spring Boot Demo with Thymeleaf and AdminLTE 3
https://github.com/giansar/spring-boot-thymeleaf-adminlte-3
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head">
        <title>AdminLTE 3 | Dashboard</title>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- Navbar -->
            <div th:replace="fragments/main-header::main-header"></div>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <div th:replace="fragments/main-sidebar::main-sidebar"></div>

            <!-- Content Wrapper. Contains page content -->
            <div th:replace="fragments/main-content::main-content"></div>
            <!-- /.content-wrapper -->
            <div th:replace="fragments/footer::footer"></div>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <div th:replace="fragments/script::script"></div>
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
    </body>
</html>
